# dependencies
/frontend/node_modules
/frontend/.pnp
/frontend/.pnp.js

# testing
/frontend/coverage

# production
/frontend/build

# misc
/frontend/.DS_Store
/frontend/.env.local
/frontend/.env.development.local
/frontend/.env.test.local
/frontend/.env.production.local

/frontend/npm-debug.log*
/frontend/yarn-debug.log*
/frontend/yarn-error.log*

# other
/frontend/.vscode*
/backend/__pycache__
/backend/DUMB
/backend/backup
/backend/output
/backend/uploaded_documents
# Ignore .env files in all folders
**/.env

# Ignore .vscode folder at the root
/my_output
/uploaded_documents